
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');


/* ----------------------------------------------------------- */
/* --- VARIABLES------------------------------------------ */
/* ----------------------------------------------------------- */
:root{
    --logo-width: 250px;
    --logo-height: 150px;
    --max-width: 1200px;
    --max-width--content: 800px;
    
}
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* --- RESET CSS ------------------------------------------ */
/* ----------------------------------------------------------- */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white
}
ul{
    list-style-type:none;
}
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* --- PLATZI THEME ------------------------------------------ */
/* ----------------------------------------------------------- */
    .platzi {
        --color-background: #0c1633; 
        --color-borders: #0c16331c; 
        --color-primary: #c1df8b;
        --color-secondary: #00B1B1;
        --color-accent: #FF4081; 
        --color-text: #FFFFFF;
        --color-border: #c1df8b;
        --color-success: #4CAF50;
--color-background-clear: rgba(242, 242, 242, 0.97);

        display: block;
        font-family:"CooperHewitt-Medium";
        letter-spacing: 1px;

        width: 100%;
        margin: 0px;
        padding: 0px;

        background-color: var(--color-background);
        
        /* @font-face kit by Fonts2u (https://fonts2u.com) */ 
        @font-face {
            font-family:"CooperHewitt-Medium";
            src:url("fonts/CooperHewitt-Medium.eot?") format("eot"),
                url("fonts/CooperHewitt-Medium.woff") format("woff"),
                url("fonts/CooperHewitt-Medium.ttf") format("truetype"),
                url("fonts/CooperHewitt-Medium.svg#CooperHewitt-Medium") format("svg");
            font-weight:normal;
            font-style:normal;
        }

    }
/* -----------------------------------------------






/* ----------------------------------------------------------- */
/* --- HEADER STYLES ------------------------------------------ */
/* ----------------------------------------------------------- */
.header__socials{


    width: 100%;
    background-color:var(--color-success);
    color:var(--color-text);

    margin: 0 auto;
    padding: 0 0em;

}
.header__socials .container{

    display: flex;
    justify-content: end;

    width: 100%;
    max-width: var(--max-width);

    margin: 0 auto;
    padding: 0 0em;

    padding: 20px 0px;
}
.header__socials a{
    color:var(--color-text);
    margin-left: 10px;
    text-decoration: none;
}

.header__socials a:hover{
    color: var(--color-background);
    transition: all 0.3s ease;
    transform: scale(1.1);
    cursor: pointer;
}
.header__navbar{
    display: block;
    width: 100%;
    background-color: var(--color-text);

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    padding: 0em;
}

.nav-logo-container{}
.nav-logo-container a {
    display: block;
    width: var(--logo-width);
}
.nav-logo-container a img{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    object-position: center;
}

.profile-link{
    letter-spacing: 1px;
    color: #0c1633 ;
    cursor: pointer;

    margin-right: 2em;
}
/* ----------------------------------------------------------- */




/* ----------------------------------------------------------- */
/* --- Hero -------------------------------------------------- */
/* ----------------------------------------------------------- */
.hero { 

    width: 100%;
    height: calc(100vh - 183px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('/assets/images/cover_909cd27f-8eb3-4e9a-9cae-c5549009f6b5.png');
    background-size: cover;
    background-position: center center;
}
.hero .hero__title{
    display: block;
    position: relative;
    text-justify: center;
    color: white;
    letter-spacing: 5px;
    font-size: 48px;
}
.hero .hero__button{
    display: block;
    background-color: var(--color-success);
    color: white;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 1em 1.5em;
    cursor: pointer;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.hero .hero__button:hover{
    background-color: var(--color-background);
    color: white;
    transition: all 0.25s linear;
}
/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/* --- Hello ------------------------------------------------- */
/* ----------------------------------------------------------- */
.hello{
    width: 100%;
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: rgb(207, 207, 207);
    font-family: 'Roboto mono', monospace;
}
.hello__container{
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-width--content);

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hello__image{
    display: block;
    width:  auto;
}
.hello__image img{
    width: 250px;
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    object-position: center;
}
.hello__content{
    display: block;
    padding: 1em;
    padding-left: 2em;
}
.hello__title{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
}
.hello__description{
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 2em;
}
/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/* --- Projects ---------------------------------------------- */
/* ----------------------------------------------------------- */
.projects{
    display: block;
    width: 100%;
    background-color: white;

    box-sizing: border-box;
    padding: 2em 0em;
    padding-bottom: 10em;

    font-family: 'Roboto mono', monospace;
}
.projects__title{
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    color: var(--color-background);

    padding: 1em;
    padding-bottom: 2em;
    border-bottom: 2px solid var(--color-borders);

    width: 100%;
    max-width: var(--max-width--content);
    margin: 0 auto;

    box-sizing: border-box;

}
.projects__list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;  
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 100%;
    max-width: var(--max-width--content);
    margin: 0 auto;
}
.projects__item{
    display: block;
}
.projects__item-title{
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    
    margin-bottom: 1em;
    margin-top: 1em;
}
.projects__item-description{
    display: block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    text-align:left;
}
.projects__item-link{
    font-size: 12px;
    padding-top: 2em;
    letter-spacing: 1px;

}
/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/* --- Contact ----------------------------------------------- */
/* ----------------------------------------------------------- */
.contact{
    display: block;
    width: 100%;
    background-color:var(--color-background-clear);
    box-sizing: border-box;
    padding: 2em 0em;
}
.contact__container{
    width: 100%;
    max-width: calc(0.85*var(--max-width));
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1em;
}
.contact__card{ 
    display: grid;
  grid-template-columns: 130px 300px; 
  grid-template-rows: 1fr; 
  gap: 20px 20px; 
  grid-template-areas: 
    "Area-Image Area-Title"
    "Area-Image Area-Text"; 
    font-family: 'Roboto mono', monospace;

}
.contact__card-image{
    display: block;
    width: 130px;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
    grid-area: Area-Image;
}
.contact__card-title{
    font-size: 16px;   
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0px;
    margin: 1em 0em;
    text-align: center;
    color: var(--color-background);
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-background);
    grid-area: Area-Title;
    width: fit-content;
}
.contact__card-description{
    font-size: 14px;   
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    color: var(--color-background);
    text-align: left;
    grid-area: Area-Text;
}
/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/* --- Contact ----------------------------------------------- */
/* ----------------------------------------------------------- */
.footer__nv1{
    display: block;
    width: 100%;
    background-color: var(--color-success);
    color: var(--color-text);
    box-sizing: border-box;
    padding: 1em 0em;
}
.footer__nv2{
    display: block;
    width: 100%;
    background-color: var(--color-background);
    color: var(--color-text);
    box-sizing: border-box;
    padding: 1em 0em;
}
.footer__nv2 h1{
    font-family: 'Roboto mono', monospace;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}
/* ----------------------------------------------------------- */




/* ----------------------------------------------------------- */
/* --- Blogs::Hero Blog ------------------------------------------ */
/* ----------------------------------------------------------- */
.hero-blog{
    font-family: 'Roboto mono', monospace;
    display:block;
    width: 100%;
    box-sizing: border-box ;
    padding: 1em;
    background-color: var(--color-background-clear);
}
.hero-blog__container{
    display:block;
    width: 100%;
    box-sizing: border-box ;
    padding: 1em;
    max-width: var(--max-width--content);
    margin: 0 auto;
}
.hero-blog__title{
    margin: 0px;
    padding: 0px;

    padding-top: 1em;
    padding-bottom: 1em;
}
.hero-blog__content{

    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.hero-blog__image{
    width: 400px;
    margin-right: 2em;
}
.hero-blog__text{
    width: 300px;
}
.hero-blog__text--title{
    font-size: 18px;
}
.hero-blog__text--text{
    font-size: 14px;

    padding-bottom: 1em;
}
.hero-blog__text--button{

    padding: 0.5em 1em;
    border: 2px solid var(--color-secondary);
    cursor: pointer;
}
.hero-blog__text--link{
    font-size: 12px;
    cursor: pointer;
}

.hero-blog__text--button:hover{
    background-color: var(--color-secondary);
    color: var(--color-text);
    transition: all 0.25s linear;   
}
/* ----------------------------------------------------------- */





/* ----------------------------------------------------------- */
/* --- Blogs::List ------------------------------------------ */
/* ----------------------------------------------------------- */
.blogs{
    display: block;
    width: 100%;
    box-sizing: border-box ;
    padding: 1em;
    background-color: var(--color-text);
    font-family: 'Roboto mono', monospace;
}
.blogs__title{
    display: block; 
    width: 100%;
    max-width: var(--max-width--content);
    margin: 0 auto;
    text-align: center;

    padding-bottom: 1em;
    border-bottom: 2px solid var(--color-borders);
}
.blogs ul{
    display: block; 
    width: 100%;
    max-width: var(--max-width--content);
 
    text-align: center;

    padding: 0px;
    margin: 1em auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em 1em;
}
.blogs__item{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: start;
}
.blogs__item-image{
    width: 100%;
}
.blogs__item-title{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    padding-top: 1em;
}
.blogs__item-description{
    text-align: left;
}
.blogs__item-link{}

.blogs__item-link{
    padding: 0.5em 1em;
    border: 2px solid var(--color-secondary);
    cursor: pointer;
    text-decoration: none;
}
.blogs__item-link span{
    font-size: 12px;
    cursor: pointer;
}

.blogs__item-link:hover{
    background-color: var(--color-secondary);
    color: var(--color-text);
    transition: all 0.25s linear;   
}
/* ----------------------------------------------------------- */