

/* ----------------------------------------------------------- */
/* --- VARIABLES------------------------------------------ */
/* ----------------------------------------------------------- */
:root{
    --logo-width: 150px;
    --logo-height: 150px;
    --max-width: 1200px;
}
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* --- RESET CSS ------------------------------------------ */
/* ----------------------------------------------------------- */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: white
}
ul{
    list-style-type:none;
}
/* ----------------------------------------------------------- */


/* ----------------------------------------------------------- */
/* --- PLATZI THEME ------------------------------------------ */
/* ----------------------------------------------------------- */
    .platzi {
        --color-background: #0c1633; 
        --color-primary: #c1df8b;
        --color-secondary: #00B1B1;
        --color-accent: #FF4081; 
        --color-text: #FFFFFF;
        --color-border: #c1df8b;
        --color-success: #4CAF50;

        display: block;
        font-family:"CooperHewitt-Medium";
        letter-spacing: 1px;

        width: 100%;
        margin: 0px;
        padding: 0px;

        padding-top: 5em;

        background-color: var(--color-background);
        
        /* @font-face kit by Fonts2u (https://fonts2u.com) */ 
        @font-face {
            font-family:"CooperHewitt-Medium";
            src:url("fonts/CooperHewitt-Medium.eot?") format("eot"),
                url("fonts/CooperHewitt-Medium.woff") format("woff"),
                url("fonts/CooperHewitt-Medium.ttf") format("truetype"),
                url("fonts/CooperHewitt-Medium.svg#CooperHewitt-Medium") format("svg");
            font-weight:normal;
            font-style:normal;
        }

    }
/* -----------------------------------------------






/* ----------------------------------------------------------- */
/* --- HEADER STYLES ------------------------------------------ */
/* ----------------------------------------------------------- */
.header__socials{


    width: 100%;
    background-color: #c1df8b;

    margin: 0 auto;
    padding: 0 0em;

}
.header__socials .container{

    display: flex;
    justify-content: end;

    width: 100%;
    max-width: var(--max-width);

    margin: 0 auto;
    padding: 0 0em;

    padding: 20px 0px;
}
.header__socials a{
    margin-left: 10px;
}
.header__navbar{}

/* ----------------------------------------------------------- */